// ** Brand Colors
$Brand-primary-color : #092C4C;
$Brand-secondary-color : #F2994A;

// ** State Colors
$State-info-color : #2F80ED;
$State-success-color : #27AE60;
$State-warning-color : #E2B93B;
$State-error-color : #EB5757;

// ** Black Colors
$Black-color-1 : #000000;
$Black-color-2 : #1D1D1D;
$Black-color-3 : #282828;
$White-color : #FFFFFF;

// ** Grey Colors
$Grey-color-1 : #333333;
$Grey-color-2 : #4F4F4F;
$Grey-color-3 : #828282;
$Grey-color-4 : #BDBDBD;
$Grey-color-5 : #E0E0E0;